@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--radius: 0.5rem;
}

html,
body {
	height: 100%;
}

body {
	@apply bg-gray-950 text-gray-100;
	font-feature-settings: "rlig" 1, "calt" 1;
}
