@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--radius: 0.5rem;
}

html,
body {
	height: 100%;
}

body {
	@apply bg-gray-950 text-gray-100;
	font-feature-settings: "rlig" 1, "calt" 1;
}

/* Article prose styles */
.prose a.card-link {
	@apply text-white underline cursor-pointer font-medium;
}

.prose a.card-link:hover {
	@apply text-blue-500;
}
